/*local fonts
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
    url('raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
    url('raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
    url('raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
    url('raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main styles*/
body{
    /* font-family: 'ralewayregular', sans-serif; */
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 1300px;
    min-height: 53px;
    margin-left: auto;
    margin-right: auto;
}
.container::after{
    clear: both;
}

/*styles for header*/
header{
    width: 100%;
    height: 53px;
    background-color: black;
}
.logo{
    padding-top: 10px;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    float: left;
    letter-spacing: 1px;
}
span{
    font-weight: 700;
    color: #1CCCA8;
}
nav{
    float: right;
    padding-top: 11px;
    position: relative;
}
nav > ul > li{
    float: left;
    color: white;
    list-style-type: none;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
nav > ul > li:last-child{
    margin-left: 60px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    cursor: pointer;
    color: #1CCCA8;
}

/*styles - links in menu*/
.withDropDownMenu > a{
    margin-right: 70px;
}
.withDropDownMenu a:hover{
    color: #1CCCA8;
}

/*black triangle*/
.withDropDownMenu:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    top: 55px;
    left: 33px;
}
/*styles- drop-down menu*/
.withDropDownMenu:hover .dropDownMenu {
    display: block;
}
.dropDownMenu{
    position: absolute;
    top: 40px;
    left: -60px;
    width: 170px;
    color: white;
    line-height: 40px;
    box-sizing: content-box;
    padding: 30px;
    display: none;
}

/*styles- li elements*/
.drop-down{
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    display: block;
    padding-left: 22px;
    text-transform: none;
    letter-spacing: 1.2px;
    background-color: black;
}
.drop-down:first-child{
    padding-top: 8px;
}
.drop-down:last-child{
    padding-bottom: 8px;
}

/*styles - first section*/

.firstSection, .secondSection {
    width: 100%;
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,234,237,1) 62%, rgba(217,217,217,1) 81%, rgba(205,208,209,1) 99%, rgba(205,208,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(62%, rgba(230,234,237,1)), color-stop(81%, rgba(217,217,217,1)), color-stop(99%, rgba(205,208,209,1)), color-stop(100%, rgba(205,208,209,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,234,237,1) 62%, rgba(217,217,217,1) 81%, rgba(205,208,209,1) 99%, rgba(205,208,209,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,234,237,1) 62%, rgba(217,217,217,1) 81%, rgba(205,208,209,1) 99%, rgba(205,208,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,234,237,1) 62%, rgba(217,217,217,1) 81%, rgba(205,208,209,1) 99%, rgba(205,208,209,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(230,234,237,1) 62%, rgba(217,217,217,1) 81%, rgba(205,208,209,1) 99%, rgba(205,208,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cdd0d1', GradientType=0 );
}
.firstSection .container{
    height: 680px;
    text-align: center;
}
.blackChair{
    margin-top: 78px;
    margin-left: 30px;
    width: 37%;
    height: 527px;
    background-size: cover;
    background-position: -152px 0;
    background-image: url("../images/black_chair.png");
    float: left;
}
.firstSection .content{
    width: 46%;
    margin-top: 160px;
    float: left;
}

h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 35px;
    letter-spacing: -0.5px;
    padding-right: 89px;
}
.mainDescription{
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    padding-right: 80px;

}
.symbol{
    width: 7%;
    height: 580px;
    font-size: 100px;
    color: #1CCCA8;
    padding-top: 250px;
}
.symbol a{
    text-decoration: none;
    color: #1CCCA8;
}
.symbol a:hover{
    color: black;
}
.left{
    float: left;
    padding-left: 15px;
    text-align: left;

}
.right{
    float: right;
    text-align: right;
    padding-right: 15px;
}
.showMore{
    margin-top: 39px;
    background-color: #1CCCA8;
    width: 318px;
    height: 65px;
    border: none;
    border-radius: 12px;
    margin-right: 70px;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.showMore:hover{
    color: black;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    -moz-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
}

/*second section*/
.secondSection{
    background: white;
    width: 100%;
}

.secondSection .row{
    height: 425px;
}
.box{
    height: 275px;
    width: 31%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    position: relative;
}
.box:first-child{
    margin-right: 33px;
}
.box:last-child{
    margin-left: 33px;
}
.firstPicture{
    background-image: url("../images/box1_img.jpg");
}
.secondPicture{
    background-image: url("../images/box2_img.jpg");
}
.box .content {
    box-sizing: content-box;
    width: 100%;
    height: 305px;
    display: inline-block;
    border: 1px solid #E3E3E3;
    position: absolute;
    top: 0;
    left: 0;
}
h2{
    width: 170px;
    text-align: left;
    font-size:20px;
    line-height: 30px;
    border-bottom: 10px solid #1CCCA8;
}
.content h2{
    margin: 32px 15px auto 30px;
}
.description{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #4C4C4C;
    margin: 13px 30px 27px 30px;
}
.chairName{
    position: absolute;
    top: 65%;
    left: 1%;
    background-color: rgba(255,255,255, 0.4);
    width: 99%;
    height: 88px;
}
.chairName h2{
    margin: 20px auto 33px 15px;
}
.chairName:hover{
    background-color: rgba(255,255,255, 0.6);
    cursor: pointer;
}
/*price section*/
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 90px;
}
.price-list{
    background-color: #F1F1F1;
    height: 900px;

}

.headerOfSection h2{
    margin-bottom: 55px;
    padding-top: 45px;
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    width: 382px;
}

.card{
    flex: auto;
    width: 31.5%;
    height:600px;
    border: 3px solid #D6D6D6;
    padding: 15px 2px;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: #F7F7F7;
}
.card:first-child{
    margin-right: 35px;
}
.card:last-child{
    margin-left: 35px;
}
.bigCircle{
    width: 67px;
    height: 67px;
    border: 3px solid #D6D6D6;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:-50px;
    transform: translate(-50%,0);
}
.smallCircle{
    width: 50%;
    height: 50%;
    background-color: #BAB8B8;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
.cardHeader{
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 500;
    color: #1CCCA8;
    background-color: #F7F7F7;
}
.card article{
    margin-top: 11px;
}

.price{
    border: 3px solid #D6D6D6;
    width: 156px;
    height: 156px;
    border-radius: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-transform: uppercase;
    color:#B9B6B7;
    text-align: center;
    letter-spacing: 1px;
    background-color: white;
}

.price-inside-circle{
    margin: 35px auto auto -13px;
    font-size: 55px;
    line-height: 50px;
    position: relative;

}
.current{
    margin-top: 10px;
    font-size: 18px;
}
sup{
    font-size: 20px;
    position: absolute;
    top: -20px;
}
.info{
    width: 100%;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.option{
    width: 100%;
    height: 56px;
    font-size: 28px;
    line-height: 33px;
    padding-top: 14px;
    color: #8C8A8A;
}
.option:nth-of-type(2n+1){
    background-color: #E3E3E3;
}
.option:nth-of-type(2n+2){
    background-color: #F1F1F1;
}
.empty{
    background-color: #F7F7F7;
}

.card:hover{
    border: 3px solid #1CCCA8;
    background-color: #1CCCA8;
}
.card:hover .cardHeader{
    background-color: #1CCCA8;
    color: white;
}
.card:hover .price{
    color: #1CCCA8;
    border: 3px solid transparent;
}
.card:hover .bigCircle{
    border: 3px solid transparent;
    background-color: #1CCCA8;
}
.card:hover .smallCircle{
    background-color: white;
}
.card:hover .joinButton{
    background-color: white;
    color: #1CCCA8;
}
.card:hover .option:nth-of-type(2n+1){
    background-color: white;
}
.card:hover .option:nth-of-type(2n+2){
    background-color:#F1F1F1 ;
}
.cardFooter{
    width: 100%;
    margin: 34px auto;
}

.joinButton{
    width: 146px;
    background-color: #1CCCA8;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 17px;
    left: 133px
}

/*contact section*/

.thirdSection .row{
    height: 440px;
}

.form{
    width: 60%;
    float: left;
}
input {
    display: block;
    width: 762px;
    height: 79px;
    margin-bottom: 35px;
    font-size: 30px;
    border: 1px solid #1CCCA8;
    border-radius: 2px;
}
input::placeholder{
    color: #D7D7D7;
    font-size: 40px;
    padding-left: 20px;
}
.message{
    height: 246px;
}

.submitDiv{
    float: right;
    width: 40%;

}
.redChair{
    width: 310px;
    height: 255px;
    margin-left: 82px;

    background-image: url("../images/red_chair.png");
    background-size: cover;
    background-position: center;
}
img{
    width: 60px;
    height: 60px;
    border: 1px solid #1CCCA8;
    border-radius: 2px;
    margin: 33px 0 -62px 58px;
}
img:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    -moz-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
}
.checkbox p{
    font-size: 23px;
    margin-left: 135px;
}
.submitButton{
    width: 412px;
    height: 88px;
    margin: 40px 0 50px 57px;
    background-color: #1CCCA8;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.submitButton:hover{
    color: black;
    -webkit-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    -moz-box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
    box-shadow: 0px 0px 7px -1px rgba(82,84,84,1);
}

/*footer*/

.footerRow{
    width: 100%;
    margin-top: 100px;
    padding: 20px 0;
    color: #666666;

}
.copyright{
    width: 50%;
    display: inline-block;
    font-size: 20px;
    color: #666666;
}
.social-links{
    width: 180px;
    margin-left: 190px;
    display: inline-block;
}
.tail{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.tail:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.fr{
    background-image: url("../images/flickr.png");
    display: inline-block;
}
.vim{
    background-image: url("../images/vimeo.png");
    display: inline-block;
}
.pint{
    background-image: url("../images/pinterest.png");
    display: inline-block;
}
.tweet{
    background-image: url("../images/twitter.png");
    display: inline-block;
}
.mainFooter .logo{
    width: 200px;
    color: #666666;
    font-weight: 500;
    font-size: 23px;
    text-transform: uppercase;
    float: right;
    display: inline-block;
}
